[DEFAULT]
generator=novelai
bridge=telegram

[ai]
name=Name
personality=premade/name

[novelai]
access_token=token

[telegram]
bot_token=token
user_id=123123123

[discord]
bot_token=token
user_id=123123123